.page_top {
  background-color: #001d3d;
  color: white;
  background-image: url("/movie-theater.jpg");
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  background-size: cover;
}

::-webkit-scrollbar-thumb {
  background-color: #4caf50; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Border radius of the scrollbar thumb */
}

/* Target the scrollbar track when the thumb is being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #388e3c; /* Color of the scrollbar thumb on hover */
}
